body{
	background-color: #AAAAFF;
}

h1{
	font-size: 3em;
	font-family: cursive;
	color: purple;
}

h2{
	font-size: 1.3em;
	font-family: sans-serif;
	color: black;
	text-decoration:none;
}

p{
	font-size: 0.8em;
	font-family:Times, serif;
}

span{
	font-family: script;
}

.header{
	text-align: center;
	background: -webkit-linear-gradient(#EEEEEE, #AAAAAA); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#EEEEEE, #AAAAAA); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#EEEEEE, #AAAAAA); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#EEEEEE, #AAAAAA); /* Standard syntax */
	display: block;
	border-radius: 5px;
}

.canvas{
	background-color: #DDDDDD;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	float: left;
	box-shadow: 0px 0px 4px;
}

.instructions{
	background-color: #DDDDDD;
	border-radius: 3px;
	text-align:justify;
	display: inline-block;
	width: 20%;
	margin-left: 5px;
	padding: 2px;
	float: left;
	box-shadow: 0px 0px 4px;
}

.footer{
	text-align: center;
	display: block;
	clear:both;
}
